body{
  background-color: rgba(249, 245, 245, 0.333);
  text-align: center;
}
h1{
  font-size: 2.5rem;
  text-align: center;
  margin-top: 4rem;
}
h2{
  text-align: center;
}
button{
  display: inline-block;
  padding: 0.5em 1em;
  margin: auto;
  font-size: 1.5rem;
  margin-top: 3rem;
  cursor: pointer;
  font-weight: 500;
  background-color: rgb(160, 201, 237);
  border-radius: 1rem;

}
.board-container{
  margin: 5rem;
}
.board-row{
  display: flex;
  justify-content:center;
  align-items: center;
}
.square{
  border: 3px solid gray;
  height: 6rem;
  width: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

